*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.header{
    border-bottom: 1px solid brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.homeTitle {
    color: burlywood;
    border: 2px solid rgb(105, 48, 15);
    max-width: 180px;
    padding: 16px;
    margin: 16px;
    font-family: sans-serif;
}

li{
    color: rgb(150, 89, 19);
    font-size: 22px;
    border: 1px solid brown;
    padding: 5px;
}

.homeList {
    display: flex;
    margin-left: 30px;
    list-style-type: none;
    margin-right: 2rem;
    column-gap: 1rem;
}